---
import "../../styles/global.css";
import Image from "astro/components/Image.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainButton from "../../components/MainButton.astro";
import ToolDisplayer from "../../components/ToolDisplayer.astro";
import asciiPortrait from "../../../images/me-ascii.png";
import liliAnalog from "../../../images/lili-analog.png";
import buvaluuuAnalog from "../../../images/buvaluuu-analog.png";
import plantsAnalog from "../../../images/plants-analog.png";
import afterEffectsLogo from "../../../images/after-effects-logo.png";
import canvaLogo from "../../../images/canva-logo.png";
import figmaLogo from "../../../images/figma-logo.png";
import notionLogo from "../../../images/notion-logo.png";
import photoshopLogo from "../../../images/photoshop-logo.png";
import illustratorLogo from "../../../images/ilustrator-logo.png";
---

<BaseLayout>
	<main>
		<div class="about-me-info">
			<h1>About me</h1>
			<h2>HI! It's me, Valeria</h2>
			<p>
				I'm a Peruvian designer and illustrator, deeply
				curious about art, graphic concepts, and the
				ways they manifest in our everyday lives.
				Drawing has always been a part of me, and for
				the past five years I’ve been learning and
				working across different areas of design.  I'm
				passionate about bringing a bit of magic to my
				clients' ideas and firmly believe in the power
				of good design as a tool for social impact.
			</p>
			<p>
				Beyond design, I nurture my creativity through
				drawing, stay balanced by working out, and find
				calm in caring for my cats and plants.
			</p>
			<div class="button-site">
				<MainButton text="DOWNLOAD RESUME" />
			</div>
		</div>
		<div class="about-me-image">
			<Image
				class="ascii-portrait"
				src={asciiPortrait}
				alt="ascii portrait of buvaluuu"
			/>
			<Image
				class="lili-analog"
				src={liliAnalog}
				alt="analog photo of a flower"
			/>
			<Image
				class="buvaluuu-analog"
				src={buvaluuuAnalog}
				alt="buvaluuu analog protrait"
			/>
			<Image
				class="plants-analog"
				src={plantsAnalog}
				alt="analog photo of a plant"
			/>
		</div>
	</main>
	<section class="daily-tools">
		<h2>Tools that help me daily</h2>
		<div class="tools">
			<ToolDisplayer
				toolImagePath={illustratorLogo}
				toolName="Adobe Illustrator"
				toolTags={["Design", "prototiping"]}
				imageAlt="Illustrator logo"
			/>
			<ToolDisplayer
				toolImagePath={photoshopLogo}
				toolName="Adobe Photoshop"
				toolTags={[
					"Design",
					"phoot editing",
					"ilustration",
				]}
				imageAlt="Photoshop Logo"
			/>
			<ToolDisplayer
				toolImagePath={notionLogo}
				toolName="Notion"
				toolTags={["Organization", "documentation"]}
				imageAlt="Notion Logo"
			/>
			<ToolDisplayer
				toolImagePath={figmaLogo}
				toolName="Figma"
				toolTags={[
					"Design",
					"prototiping",
					"brainstorming",
				]}
				imageAlt="Figma Logo"
			/>
			<ToolDisplayer
				toolImagePath={canvaLogo}
				toolName="Canva"
				toolTags={["Design", "animation"]}
				imageAlt="Canva Logo"
			/>
			<ToolDisplayer
				toolImagePath={afterEffectsLogo}
				toolName="After Effects"
				toolTags={["Animation"]}
				imageAlt="After Effects Logo"
			/>
		</div>
	</section>

	<style>
		main {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0px 10%;
		}
		h1 {
			height: 250px;
			font-family: "Ballet Variable", cursive;
			font-weight: 400;
			font-size: 140px;
			margin: 0;
		}
		.about-me-info {
			width: 50%;
			font-weight: 400;
			font-style: normal;
			padding: 0 90px;
			display: flex;
			flex-direction: column;
		}
		.about-me-info h2 {
			font-size: 44px;
		}
		.ascii-portrait {
			width: 504px;
			height: auto;
		}
		.about-me-image {
			position: relative;
			text-align: center;
			width: 50%;
		}
		.lili-analog {
			height: auto;
			position: absolute;
			right: 160px;
			top: -100px;
			width: 142px;
			object-fit: cover;
		}
		.buvaluuu-analog {
			height: auto;
			position: absolute;
			left: 90px;
			top: -30px;
			width: 215px;
			object-fit: cover;
		}
		.plants-analog {
			height: auto;
			position: absolute;
			left: 170px;
			bottom: -100px;
			width: 210px;
			object-fit: cover;
		}
		.button-site {
			margin: 50px 0;
		}
		.daily-tools {
			width:;
			padding: 0 10%;
		}
		.daily-tools h2 {
			font-size: 44px;
			padding: 0 90px;
		}
		.tools {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			row-gap: 50px;
		}
	</style>
</BaseLayout>
